---
layout: default
---

<div class="home">

  <h1 class="page-heading"><b>Special abraham page</b></h1>

  <img alt="Abe Simpson.png" src="//upload.wikimedia.org/wikipedia/en/3/3e/Abe_Simpson.png" width="167" height="300" data-file-width="167" data-file-height="300">

  {% assign query = 'SELECT ?sub ?pre WHERE { ?sub ?pre ?resourceUri }' %}
  {% assign resultset = page.rdf | sparql_query: query %}
  <table>
  {% for result in resultset %}
    <tr>
      <td>{{ result.sub }}</td>
      <td>{{ result.pre }}</td>
    </tr>
  {% endfor %}
  </table>
  
  <p>
    <h3>Statements in which {{ page.rdf.name }} occurs as subject:</h3>
    {% include statements_table.html collection=page.rdf.statements_as_subject %}
  </p>
  <p>
    <h3>Statements in which {{ page.rdf.name }} occurs as predicate:</h3>
    {% include statements_table.html collection=page.rdf.statements_as_predicate %}
  </p>
  <p>
    <h3>Statements in which {{ page.rdf.name }} occurs as object:</h3>
    {% include statements_table.html collection=page.rdf.statements_as_object %}
  </p>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
