<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Is the page resource covered by the knowledge base</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        Resource covered?: {{page.rdf.covered}} <br/>
        Resource per Page:{{page | rdf_get}}<br/>
            {% assign rdf = page | rdf_get %}
            |--> covered: {{rdf.covered}}<br/>
        Example resource per String: {{"<http://this/uncovered/resource>" | rdf_get}}<br/>
            {% assign rdf = "<http://this/uncovered/resource>" | rdf_get %}
            |--> covered: {{rdf.covered}}
    </body>
</html>
