---
layout: default
---

<div class="home">

  <h1 class="page-heading"><b>Person: {{ page.rdf.name }}</b></h1>

  <table border="1">
    <tbody>
      <tr>
        <td>Age</td>
        <td>{{ page.rdf | rdf_property: 'http://xmlns.com/foaf/0.1/age' }} </td>
      </tr>
      <tr>
        <td>Sisters</td>
        <td>
          {% assign resultset = page.rdf | rdf_property_list: 'http://www.ifi.uio.no/INF3580/family#hasSister' %}
          {% for result in resultset %}
            <ul>{{ result }}</ul>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Jobs english</td>
        <td>
          {% assign resultset = page.rdf | rdf_property_list: 'http://xmlns.com/foaf/0.1/job','en' %}
          {% for result in resultset %}
            <ul>{{ result }}</ul>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Jobs german</td>
        <td>
          {% assign resultset = page.rdf | rdf_property_list: 'http://xmlns.com/foaf/0.1/job','de' %}
          {% for result in resultset %}
            <ul>{{ result }}</ul>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Jobs with configured language</td>
        <td>
          {% assign resultset = page.rdf | rdf_property_list: 'http://xmlns.com/foaf/0.1/job','cfg' %}
          {% for result in resultset %}
            <ul>{{ result }}</ul>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>all jobs</td>
        <td>
          {% assign resultset = page.rdf | rdf_property_list: 'http://xmlns.com/foaf/0.1/job' %}
          {% for result in resultset %}
            <ul>{{ result }}</ul>
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <h3>Statements in which {{ page.rdf.name }} occurs as subject:</h3>
    {% include statements_table.html collection=page.rdf.statements_as_subject %}
  </p>
  <p>
    <h3>Statements in which {{ page.rdf.name }} occurs as predicate:</h3>
    {% include statements_table.html collection=page.rdf.statements_as_predicate %}
  </p>
  <p>
    <h3>Statements in which {{ page.rdf.name }} occurs as object:</h3>
    {% include statements_table.html collection=page.rdf.statements_as_object %}
  </p>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
