<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <dl>
            <dt>render_path</dt>
            <dd><pre>{{ page.rdf.render_path }}</pre></dd>
            <dt>page_url</dt>
            <dd><pre>{{ page.rdf.page_url }}</pre></dd>
            <dt>iri</dt>
            <dd><pre>{{ page.rdf.iri }}</pre></dd>
        </dl>

        rel:
        {% assign rel = page.rdf | rdf_property: '<http://example.org/rel>' %}
        <dl>
            <dt>render_path</dt>
            <dd><pre>{{ rel.render_path }}</pre></dd>
            <dt>page_url</dt>
            <dd><pre>{{ rel.page_url }}</pre></dd>
            <dt>iri</dt>
            <dd><pre>{{ rel.iri }}</pre></dd>
        </dl>
    </body>
</html>
