---
layout: default_stripped
rdf_prefix_path: rdf-data/simpsons.pref
---

<div class="home">

  <h1 class="page-heading"><b>{{ page.rdf | rdf_property: 'foaf:name' }} ({{ page.rdf.iri }})</b></h1>

  <p>
    <h3>Statements in which {{ page.rdf | rdf_property: 'foaf:name' }} ({{ page.rdf.iri }}) occurs as subject:</h3>
    {% include statements_table.html collection=page.rdf.statements_as_subject %}
  </p>
  <p>
    <h3>Statements in which {{ page.rdf | rdf_property: 'foaf:name' }} ({{ page.rdf.iri }}) occurs as predicate:</h3>
    {% include statements_table.html collection=page.rdf.statements_as_predicate %}
  </p>
  <p>
    <h3>Statements in which {{ page.rdf | rdf_property: 'foaf:name' }} ({{ page.rdf.iri }}) occurs as object:</h3>
    {% include statements_table.html collection=page.rdf.statements_as_object %}
  </p>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
