---
layout: default_stripped
---

<div class="home">

  <h1 class="page-heading"><b>Person: {{ page.rdf.foafName}}</b></h1>

  <table>
    <tbody>
      <tr>
        <td>Age</td>
        <td>{{ page.rdf | rdf_property: '<http://xmlns.com/foaf/0.1/age>' }} </td>
      </tr>
      <tr>
        <td>Sisters</td>
        <td>
          {% assign resultset = page.rdf | rdf_property_list: '<http://www.ifi.uio.no/INF3580/family#hasSister>' %}
          {% for result in resultset %}
            <ul>{{ result }}</ul>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Translated job</td>
        <td>{{ page.rdf | rdf_property: '<http://xmlns.com/foaf/0.1/job>','en' }}</td>
      </tr>
      <tr>
        <td>Translated Interest</td>
        <td>{{ page.rdf | rdf_property: '<http://xmlns.com/foaf/0.1/interest>','de' }}</td>
      </tr>
    </tbody>
  </table>

  <p>
    <h3>Statements in which {{ page.rdf | rdf_property: 'foaf:name' }} ({{ page.rdf.iri }}) occurs as subject:</h3>
    {% include statements_table.html collection=page.rdf.statements_as_subject %}
  </p>
  <p>
    <h3>Statements in which {{ page.rdf | rdf_property: 'foaf:name' }} ({{ page.rdf.iri }}) occurs as predicate:</h3>
    {% include statements_table.html collection=page.rdf.statements_as_predicate %}
  </p>
  <p>
    <h3>Statements in which {{ page.rdf | rdf_property: 'foaf:name' }} ({{ page.rdf.iri }}) occurs as object:</h3>
    {% include statements_table.html collection=page.rdf.statements_as_object %}
  </p>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
